#root {
  width: 100%;
  text-align: center;
}

.main {
  height: 100vh;
  padding: 50px;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

h1 {
  color: #fff;
}

img {
  width: 250px;
  border-radius: 50%;
  border: solid 2px #ccc;
}

p {
  color: #fff;
  font-size: 28px;
  text-align: center;
}

.left-content {
  width: 720px;
  display: flex;
  justify-content: flex-start;
}

.right-content {
  width: 720px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
