* {
  font-family: "Pixelify Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #292c37;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
